/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  color: #fff;
}
#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}
#preloader .jumper > div {
  background-color: rgba(0, 255, 0, 0.75);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}
#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}
#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}
@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  scroll-behavior: smooth;
}
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
header {
  text-align: center;
  font-size: 100%;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 50px;
}
nav li {
  display: inline;
  font-size: 150%;
  margin-right: 50px;
}

a:hover {
  color: rgba(0, 255, 0, 0.75);
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  opacity: 0.9;
  z-index: 2;
}
.navbar nav {
  margin-top: 20px;
}
.burger {
  display: hidden;
  padding: 10px;
  margin-right: 100%;
  width: 60px;
}
.burger div {
  display: hidden;
  width: 25px;
  height: 2px;
  margin: 5px;
}
.burger-container {
  overflow: hidden;
  position: fixed;
  height: 6vh;
  top: 0;
  width: 100%;
  opacity: 0.9;
}
@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    left: 0px;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    position: fixed;
    z-index: 99;
  }
  .navbar ul {
    margin-top: 0px;
    padding-top: 0px;
  }
  .navbar li {
    opacity: 0;
    display: block;
  }
  .burger-container {
    background-color: #171717;
    position: fixed;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    background-color: white;
    transition: all 0.3s ease;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* 
---------------------------------------------
home page
--------------------------------------------- 
*/
body {
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.spacingHeader {
  padding-top: 35vh;
}
.home {
  height: 100vh;
}
.down-arrow {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: 0;
  margin-top: 5vh;
  display: inline-block;
}
.down-arrow .img-top {
  display: none;
  position: absolute;
  left: 0;
}
.down-arrow:hover .img-top {
  display: inline;
}
@keyframes move-twinkling-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars,
.twinkling {
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: black url(img/stars.png) repeat top center;
}
.twinkling {
  background: transparent url(img/twinkling_effect.png) repeat top center;
  animation: move-twinkling-back 300s linear infinite;
}
div .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0.7;
  color: black;
  box-sizing: content-box;
}
.social {
  margin-top: 50px;
  text-align: center;
}
div .fa:hover {
  opacity: 1;
  color: white;
}
div .fa-google {
  background: #dd4b39;
}
div .fa-linkedin {
  background: #007bb5;
}
div .fa-phone-square {
  background: #00aff0;
}
div .fa-github {
  background: #2c4762;
}
div .fa-spotify {
  background: #00b489;
}
.typewriter p {
  font-size: 8vw;
  color: white;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 888px) {
  .typewriter p {
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 100px;
    color: white;
    margin: 0 auto;
    animation: animated-text 2s steps(15, end) 1s 1 normal both,
      animated-cursor 530ms steps(15, end) infinite;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 900px;
    }
  }
  @keyframes animated-cursor {
    from {
      border-right-color: rgba(0, 255, 0, 0.749);
    }
    to {
      border-right-color: transparent;
    }
  }
}
@media screen and (max-width: 420px) {
  .typewriter p {
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    color: white;
    margin: 0 auto;
    animation: animated-text 2s steps(15, end) 1s 1 normal both,
      animated-cursor 530ms steps(15, end) infinite;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 320px;
    }
  }
  @keyframes animated-cursor {
    from {
      border-right-color: rgba(0, 255, 0, 0.749);
    }
    to {
      border-right-color: transparent;
    }
  }
  div .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.7;
    color: #171717;
    box-sizing: content-box;
  }
  .social {
    margin-top: 50px;
    text-align: center;
  }
}
/* 
---------------------------------------------
experience
--------------------------------------------- 
*/
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
img,
video,
svg {
  max-width: 100%;
}
:root {
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --component-padding: var(--space-md);
}
.container {
  width: calc(100% - 1.25em);
  width: calc(100% - 2 * var(--component-padding));
  margin-left: auto;
  margin-right: auto;
}
.max-width-lg {
  max-width: 80rem;
  max-width: var(--max-width-lg);
}
u,
.text-underline {
  text-decoration: underline;
}
.text-component {
  --component-body-line-height: calc(
    var(--body-line-height) * var(--line-height-multiplier, 1)
  );
  --component-heading-line-height: calc(
    var(--heading-line-height) * var(--line-height-multiplier, 1)
  );
}
.text-component h1,
.text-component h2,
.text-component h3,
.text-component h4 {
  line-height: 1.2;
  line-height: var(--component-heading-line-height, 1.2);
  margin-bottom: 0.25em;
  margin-bottom: calc(var(--space-xxxs) * var(--text-vspace-multiplier, 1));
}
.text-component h2,
.text-component h3,
.text-component h4 {
  margin-top: 0.75em;
  margin-top: calc(var(--space-sm) * var(--text-vspace-multiplier, 1));
}
.text-component p,
.text-component blockquote,
.text-component ul li,
.text-component ol li {
  line-height: 1.4;
  line-height: var(--component-body-line-height);
}
.text-component ul,
.text-component ol,
.text-component p,
.text-component blockquote,
.text-component .text-component__block {
  margin-bottom: 0.75em;
  margin-bottom: calc(var(--space-sm) * var(--text-vspace-multiplier, 1));
}
.company {
  border: 4px solid white;
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
}
.cd-timeline {
  overflow: hidden;
  padding: 2em 0;
  padding: var(--space-lg) 0;
  background: linear-gradient(180deg, black 0%, rgba(128, 128, 128, 1) 80%);
  font-family: "Montserrat", sans-serif;
}
.header img {
  float: right;
  width: 40px;
  height: 40px;
}
.header h2 {
  position: relative;
}
.cd-timeline h2 {
  font-weight: 500;
}
.cd-timeline p {
  font-size: 1em;
}
.cd-timeline__container {
  position: relative;
  padding: 1.25em 0;
  padding: var(--space-md) 0;
  margin-top: 30px;
}
.cd-timeline__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  height: 100%;
  width: 4px;
  background: white;
}
@media (min-width: 64rem) {
  .cd-timeline__container::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.cd-timeline__block {
  display: flex;
  position: relative;
  margin-bottom: 2em;
}
.cd-timeline__block:last-child {
  margin-bottom: 0;
}
@media (min-width: 64rem) {
  .cd-timeline__block:nth-child(even) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.cd-timeline__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 100%), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px var(--color-white), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline__img img {
  width: 60px;
  height: 60px;
}
@media (min-width: 64rem) {
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    -ms-flex-order: 1;
    order: 1;
    margin-left: calc(5% - 30px);
    will-change: transform;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__img {
    margin-right: calc(5% - 30px);
  }
}
.cd-timeline__content {
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin-left: 1.25em;
  background: white;
  border-radius: 0.25em;
  padding: 15px;
  box-shadow: 0 3px 0 white;
}
.cd-timeline__content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: white;
}
.bbs {
  color: #cda013;
}
.ted {
  color: #e62b1e;
}
.tempus {
  color: black;
}
.adidas {
  color: #0184d6;
}
.reflexion {
  color: #e2623d;
}
@media (min-width: 64rem) {
  .cd-timeline__content {
    width: 45%;
    -ms-flex-positive: 0;
    flex-grow: 0;
    will-change: transform;
    margin: 0;
    --line-height-multiplier: 1.2;
  }
  .cd-timeline__content::before {
    top: 24px;
  }
  .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
    right: auto;
    left: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: hsl(0, 0%, 100%);
    border-left-color: white;
  }
}
@media (min-width: 64rem) {
  .cd-timeline__img--hidden,
  .cd-timeline__content--hidden {
    visibility: hidden;
  }
  .cd-timeline__img--bounce-in {
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  .cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
    -webkit-animation-name: cd-bounce-2-inverse;
    animation-name: cd-bounce-2-inverse;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* 
---------------------------------------------
education page
--------------------------------------------- 
*/
span {
  color: #c4820e;
}
.education {
  background-color: #003262;
  height: 100vh;
  overflow-x: hidden;
}
.education-container {
  display: flex;
}
.berkeley {
  width: 45vh;
  margin-left: 10vh;
  margin-top: 15vh;
  color: white;
  font-size: medium;
}
.disclaimer {
  width: 45vh;
  margin-left: 10vh;
  color: white;
  font-size: medium;
}
.coursework {
  margin-top: 20vh;
  margin-left: 3vh; 
  margin-right: 10vh;
  columns: 2;
  border: 2px solid;
  border-color: #c4820e;
  border-radius: 0.12em;
  display: none;
  animation: fadeEffect 1.5s;
  height: fit-content;
  break-inside: avoid;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active {
  display: block;
}
.coursework > li {
  color: white;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.coursework > li + li {
  margin-top: 1rem;
}
button {
  background-color: #c4820e;
  border: 2px solid;
  border-color: #3e3e3e;
  border-radius: 0.12em;
  display: block;
  color: white;
  padding: 15px;
  margin-left: 10vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: medium;
  width: 200px;
}
.hvr-bubble-float-right {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: "";
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #c4820e;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-bubble-float-right:hover,
.hvr-bubble-float-right:focus,
.hvr-bubble-float-right:active {
  transform: translateX(10px);
  box-shadow: 0 0.5em 0.5em -0.4em #c4820e;
}
.hvr-bubble-float-right:hover:before,
.hvr-bubble-float-right:focus:before,
.hvr-bubble-float-right:active:before {
  transform: translateX(8px);
}
/* @media only screen and (max-width: 768px) {
  .dev-item {
    width: 100px;
    height: 100px;
    line-height: 7;
    margin: 1%;
  }
}
@media only screen and (max-width: 1170px) {
  .dev-item {
    width: 80px;
    height: 80px;
    font-size: 14px;
    line-height: 5.5;
    margin: 5px 5px 5px 0;
  }
} */
/* .dev-item {
  display: inline-block;
  background-color: #c4820e;
  border: 2px solid #ddd5c7;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin: 10px 10px 10px 0;
  padding: 0;
  width: 120px;
  height: 120px;
  line-height: 8;
  font-size: 14px;
} */
.icons {
  margin-left: 30vh;
}
.icons li {
  color: white;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  break-inside: avoid;
}
.icons > li + li {
  margin-top: 1rem;
}
@media screen and (max-width: 1026px) {
  .education-container {
    display: block;
  }
  .education {
    height: auto;
  }
  .berkeley {
    margin-left: 30px;
    margin-top: 10px;
  }
  button {
    margin-left: 30px;
  }
  .disclaimer {
    margin-left: 30px;
  }
  .coursework {
    margin-left: 30px; 
    margin-top: 10px;
  }
}
@media screen and (max-width: 950px) {
  .coursework {
    columns: 1; 
    margin-top: 3vh; 
    margin-left: 3vh; 
  }
}
@media screen and (max-width: 420px) {
  .coursework > li {
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .coursework > li + li {
    margin-top: 0rem;;
  }
  .berkeley {
    margin-top: 50px;
    margin-left: 1vh;
  }
}
@media screen and (max-width: 350px) {
  .coursework > li {
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .coursework > li + li {
    margin-top: 0rem;;
  }
  .berkeley {
    margin-top: 50px;
    margin-left: 0vh;
  }
  h1 {
    font-size: 100%;
  }
  h3 {
    font-size: 100%;
  }
  p {
    font-size: 60%;
  }
}
/* 
---------------------------------------------
projects page
--------------------------------------------- 
*/
.projects {
  background-color: lightcoral;
  /* background-color: #DDD5C7;
  background-image: url(img/website_fog.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
}
